@font-face {
  font-family: 'Vazir';
  src:
       url('../fonts/Vazir.woff') format('woff'), 
       url('../fonts/Vazir.ttf')  format('truetype'), 
}

@font-face {
  font-family: 'VazirBold';
  src:
       url('../fonts/Vazir-Bold.woff') format('woff'), 
       url('../fonts/Vazir-Bold.ttf')  format('truetype'), 
}

@font-face {
  font-family: 'Shabnam';
  src:
       url('../fonts/Shabnam.woff') format('woff'), 
       url('../fonts/Shabnam.ttf')  format('truetype'), 
}

@font-face {
  font-family: 'ShabnamBold';
  src:
       url('../fonts/Shabnam-Bold.woff') format('woff'), 
       url('../fonts/Shabnam-Bold.ttf')  format('truetype'), 
}


@font-face {
  font-family: 'Sahel';
  src:
       url('../fonts/Sahel.woff') format('woff'), 
       url('../fonts/Sahel.ttf')  format('truetype'), 
}

@font-face {
  font-family: 'SahelBold';
  src:
       url('../fonts/Sahel-Bold.woff') format('woff'), 
       url('../fonts/Sahel-Bold.ttf')  format('truetype'), 
}


body{
  font-family: 'Sahel', sans-serif;
  text-align: right;
  direction: rtl;
}

a:hover{
  text-decoration: none;
}

.border-right{
  border-right: 2px solid var(--primary) !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.border-around{
  border: 2px solid var(--primary) !important;
  border-radius: 15px;
}


.sidebar{
  top: 0;
  z-index : 100;
  overflow-y: auto;
  font-size: 15px;

}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px){
  
  .sidebar{
    max-width: 18rem;
    transform : translateX(100%);
    transition : transform 0.4s ease-out;
  }
  
  .sidebar.active{
    transform : translateX(0);
  }
  
}
.text-title{
  font-family: 'SahelBold';
}